@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--background-primary: #171717;

	--background-secondary: rgba(31, 31, 31, 0.97);
	--backgroun-light: rgb(49, 49, 49);
	--background-dark: #1a1c23;
	--box-background: #23252f;

	--fc-primary: #ffffff;
	--fc-secondary: #b4b4b4;
	--logo: #ffffff;
	--button-background: #191919;
	--button-background-hover: #ffffff;
	--button-fc-hover: #191919;
	--button-border: rgb(199, 199, 199);
	--project-border: #ffffff;
	--scroll-up-arrow: #b298ff;
	--side-menu: #6d59a8;
	--regular-menu: #b4b4b4;

	--pr-color: #5c82a6;
	--black: #0e2431;
	--menu-button: #fff;

	--ff-primary: 'Poppins', sans-serif;
}

*,
*::before,
*::after,
a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
main,
nav,
p,
section,
select,
span,
table,
textarea,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background-primary);
	font-family: var(--ff-primary);
	color: var(--fc-primary);
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 1.4;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	overflow: hidden;
}

h1 {
	font-size: 4.3rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
}
h2 {
	font-size: 3.5rem;
	font-weight: 400;
	letter-spacing: -0;
}
h3 {
	font-size: 2.25rem;
	letter-spacing: -0.005em;
}
h4 {
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0.004em;
	text-transform: capitalize;
}

section .button button {
	width: 14rem;
	padding: 0.7rem 1rem;
	font-size: 1.3rem;
	font-weight: 300;
	text-transform: capitalize;
	background-color: var(--button-background);
	color: var(--fc-primary);
	cursor: pointer;
	border: 1px solid var(--button-border);

	transition: all 0.4s ease;
}
section .button button:hover {
	background-color: var(--button-background-hover);
	color: var(--button-fc-hover);
}

section,
footer {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.center-text {
	text-align: center;
}

/*********** 
Nav Bar
************/
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 3rem;
	background: var(--background-primary);
}
nav .logo {
	display: flex;
	float: none;
	width: auto;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #fff;
}

nav .links {
	float: none;
	position: fixed;
	z-index: 0;
	left: 0;
	right: 0;
	top: 3rem;
	bottom: 100%;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: var(--background-primary);
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
nav :checked ~ .links {
	bottom: 0;
}
#nav-toggle {
	z-index: 1000;
	position: absolute;
	top: -100%;
}
nav .icon-burger {
	display: block;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 0.5s ease-in-out;
}
nav :checked ~ .icon-burger .line:nth-child(1) {
	transform: translateY(10px) rotate(-45deg);
}
nav :checked ~ .icon-burger .line:nth-child(3) {
	transform: translateY(-10px) rotate(45deg);
}
nav :checked ~ .icon-burger .line:nth-child(2) {
	opacity: 0;
}

@media screen and (min-width: 768px) {
	nav {
		z-index: 10;
	}
	nav .logo {
		float: left;
		width: 40%;
		height: 100%;
	}
	nav .links {
		float: right;
		position: static;
		z-index: 5;
		left: unset;
		padding: 0;
		margin: 0;
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: var(--background-primary);
	}

	nav .links a {
		font-size: 20px;
	}
	nav .icon-burger {
		display: none;
	}
}
/* nav {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	max-width: 70.5 rem;
	padding: 20px 0;
	z-index: 999;
	transition: all 0.3s ease;
} */
/* nav.sticky {
	background: var(--background-secondary);
	padding: 13px 0;
} */
/* nav .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
} */

/* nav .navbar .menu {
	display: flex;
	position: relative;
} */
/* nav .navbar .menu li {
	list-style: none;
	margin-right: 40px;
} */
nav ul a {
	font-size: 1.3rem;
	font-weight: 300;
	text-transform: capitalize;
	color: var(--white);
}
nav ul a:hover {
	color: var(--regular-menu);
}

.navbar .media-icons a {
	color: var(--logo);
	font-size: 1.5rem;
	margin: 0 10px;
	transition: all 0.4s ease;
}
.navbar .media-icons a:hover {
	color: var(--regular-menu);
}

nav.sticky .media-icons a {
	color: var(--logo);
}
*/

/*********** 
Menu Button 
************/
/* .menu-btn.hamburger {
	font-size: 2rem;
}
.fas-bars {
	margin-bottom: 5px;
}

nav .menu-btn,
.navbar .menu .cancel-btn {
	position: absolute;
	color: var(--white);
	right: 30px;
	top: 10px;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s ease;
	display: none;
}
nav .menu-btn {
	color: var(--menu-button);
}

/*********** 
Hero
************/
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.home .home-content {
	margin: auto;
	margin-top: 8rem;
	padding-top: 1rem;
}

.home h2 {
	font-weight: 600;
	letter-spacing: -0.15rem;

	color: var(--fc-secondary);
}

h2.job-title {
	margin-top: 1rem;
}

.home .button {
	margin: 40px 0;
}

/*********** 
About
************/
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 4rem;
	padding: 1rem;
}

.about .title h2 {
	visibility: hidden;
}

.about .about-details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.about-details .right {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
	overflow: hidden;
}
.about-details .topic {
	display: flex;

	margin-bottom: 1.5rem;
}
.about-details .right h3 {
	text-transform: capitalize;
}
.about-details .right p {
	color: var(--fc-secondary);
	/* margin-bottom: 1.5rem; */
}
.about-details .about-paragraph {
	display: flex;
	flex-direction: column;
}

.about .left img {
	width: auto;

	object-fit: contain;
}

.tech-line {
	margin: 2rem 0 1rem;
	display: block;
	width: 8rem;
	height: 1px;
	background-color: var(--fc-secondary);
}

.about h4 {
	color: var(--fc-secondary);
	margin-bottom: 1rem;
}

.skills-details {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

i.tech-icon {
	font-size: 1.5rem;
	color: var(--fc-secondary);
	padding: 0 0.75rem;
}
i.tech-icon:first-child {
	padding-left: 0;
}

.about .button {
	margin: 0 auto;
	margin-top: 3rem;
}

/*********** 
Projects
************/
.projects {
	margin-bottom: 4rem;
}
.projects h2 {
	text-transform: capitalize;
	font-weight: 700;
	display: flex;
	margin: 1rem;
}
.projects .title {
	visibility: hidden;
}
.projects .boxes {
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	flex-wrap: wrap;
}
.projects .boxes .box {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 49.3%;
	cursor: default;
	transition: all 0.4s ease;
}
/* .box .top-half {
	border: 1px solid var(--project-border);
} */
.box .image-container {
	margin: 0;
	border-bottom: none;
	position: relative;
	overflow: hidden;
}
.box img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: contain;
}

.project-links-container {
	display: flex;
	justify-content: space-evenly;
}
.project-links-container span,
.project-links-container a:first-of-type {
	border-right: 1px solid var(--project-border);
}
.project-links-container a,
.project-links-container span {
	font-size: 1rem;
	padding: 0.3rem 1rem;
	border-top: 1px solid var(--project-border);
	/* border-bottom: 1px solid var(--project-border); */
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s ease;
}
.project-links-container a:hover {
	background-color: var(--button-background-hover);
	color: var(--button-fc-hover);
}

.project-description-container {
	text-align: left;
	padding: 0 0.8rem 0 0.8rem;
}
.project-1-description,
.project-2-description,
.project-3-description {
	display: none;
}
.project-1-description.open,
.project-2-description.open,
.project-3-description.open {
	display: inline;
}

.project-title {
	margin: 2rem auto;
	margin-bottom: 0.75rem;
}
.project-description {
	font-size: 1rem;
	color: var(--fc-secondary);
	line-height: 1.4;
	font-weight: 300;
}

.tools-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 2.5rem;
	padding-bottom: 2rem;
}
i.tool-icon {
	font-size: 1.5rem;
}
.fab {
	font-weight: 400;
}

/*********** 
Contact Me 
************/

.contact .content {
	display: flex;
	flex-direction: column;
	margin: 0 auto 2rem;
}
.contact .title {
	visibility: hidden;
	margin-bottom: 1rem;
}
.contact .text {
	width: 80%;
	margin: auto;
}
.contact p {
	font-size: 1.5rem;
	line-height: 1.8;
}
.contact button {
	margin: 3rem 0 0;
}

/*********** 
Footer 
************/
footer {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	margin-top: 7rem;
}

footer .text {
	margin-right: 1rem;
}
footer .text span {
	font-size: 1.3rem;
	font-weight: 400;
	padding-right: 0.65rem;
	color: var(--white);
}

footer .media-icons a {
	font-size: 1.3rem;
	padding-right: 0.65rem;
	transition: all 0.4s ease;
}
footer .media-icons a:hover {
	color: var(--regular-menu);
}

/******************* 
Media Queries
*******************/

@media (max-width: 992px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2.7rem;
	}

	/* nav {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		max-width: 70.5 rem;
	} */
	/* nav .navbar {
		width: 90%;
		height: 40px;
	}
	nav .navbar .menu {
		display: flex;
		position: fixed;
		left: -110%;
		top: 0;
		background: var(--background-primary);
		height: 100vh;
		max-width: 100vw;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease;
	}

	.navbar.active .menu {
		left: 0;
		padding-bottom: 41px;
	}
	nav .navbar .menu li {
		margin: 0;
	}
	nav .navbar .menu a {
		font-size: 1.7rem;
		display: block;
		color: var(--white);
		margin: 10px 0;
		letter-spacing: -0.025rem;
	}

	nav.sticky .menu a:hover {
		color: var(--fc-secondary);
	}
	nav .navbar .media-icons {
		display: none;
	}
	nav .menu-btn,
	.navbar .menu .cancel-btn {
		display: block;
	} */

	.about .about-details {
		flex-direction: column;
		align-items: center;
	}
	.about-details .right {
		padding-left: 0;
	}
	.about-details .topic {
		margin-bottom: 0;
	}
	.about-details h3 {
		margin: 2rem 0 1rem;
	}

	.tech-line {
		margin: 2rem auto 1rem;
	}

	.about h4 {
		margin-bottom: 1rem;
	}

	.skills-details {
		display: flex;
		justify-content: center;
		padding: 1rem 0;
	}

	.contact p {
		font-size: 1.5rem;
		line-height: 1.6;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 3rem;
		/* letter-spacing: 0; */
	}
	h2 {
		font-size: 2.2rem;
		/* letter-spacing: 0; */
	}

	nav .navbar .menu a {
		font-size: 1.4rem;
	}

	.about .left img {
		width: 100%;
		height: 50%;
		object-fit: contain;
	}

	.projects .boxes {
		padding: 1rem 0;

		flex-wrap: wrap;
	}
	.projects .boxes .box {
		width: 100%;
	}
	.projects .boxes .box-1 {
		margin-top: 0;
	}
	.projects .boxes .box-2,
	.projects .boxes .box-3 {
		margin-top: 2rem;
	}
	.contact .text {
		width: 100%;
	}
}

@media (max-width: 576px) {
	section .button button {
		width: 9rem;
		padding: 0.3rem 1rem;
		font-size: 1rem;
	}

	.project-title {
		font-size: 1.3rem;
	}
	.project-description {
		font-size: 0.8rem;
	}

	footer .text span {
		font-size: 1.1rem;
	}
	footer .media-icons a {
		font-size: 1.1rem;
	}
}
