@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--background-primary: #ffffff;
	--background-nav: #ffffffd8;
	--background-footer: #111;
	--background-color-section: #d9ddd5;

	--fc-primary: #000000;
	--fc-secondary: #363636;
	--fc-hover-primary: rgb(192, 192, 192);
	--fc-hover-secondary: rgb(94, 94, 94);
	--fc-white: #fff;
	--logo: #ffffff;
	--button-background: #ffffff;
	--button-background-hover: rgb(240, 240, 240);
	--button-fc-hover: #191919;
	--button-border: #868a82;
	--project-border: #ffffff;

	--regular-menu: #b4b4b4;

	--black: #0e2431;
	--white: #fff;

	--ff-primary: 'Poppins', sans-serif;
}

*,
*::before,
*::after,
a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
main,
nav,
p,
section,
select,
span,
table,
textarea,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background-primary);
	font-family: var(--ff-primary);
	color: var(--fc-primary);
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.4;
	margin: 0 auto;
	/* width: min(90%, 70.5rem); */
}

section,
footer {
	margin: 0 auto;
	width: 98%;
}
section .section-container,
footer .section-container {
	width: min(90%, 70.5rem);
	margin: 0 auto;
	padding: 6rem 1rem;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	line-height: 1;
	overflow: hidden;
}

h1 {
	font-size: 4.3rem;
	font-weight: 600;
	letter-spacing: -0.1rem;
}
h2 {
	font-size: 3.5rem;
	font-weight: 400;
	letter-spacing: -0;
}
h3 {
	font-size: 2.25rem;
	letter-spacing: -0.005em;
}
h4 {
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0.004em;
	text-transform: capitalize;
}

section .button button,
.contact button {
	width: 12rem;
	padding: 1.08rem 1rem;
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: capitalize;
	background-color: var(--button-background);
	color: var(--fc-primary);
	cursor: pointer;
	border: 1px solid var(--button-border);
	border-radius: 50px;

	transition: all 0.2s ease-in-out;
}
section .button button:hover,
.contact button:hover {
	transform: scale(1.1);
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.center-text {
	text-align: center;
}

/*********** 
Nav Bar
************/
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 3.5rem;
	background: var(--background-nav);
}
nav::after {
	background: var(--background-primary);
}
nav .logo {
	display: flex;
	float: none;
	width: auto;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #fff;
}

nav .links {
	position: fixed;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 100%;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: #000;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
nav .links a {
	display: block;
	letter-spacing: -0.07rem;
	margin: 0 1rem 0.6rem 2.5rem;
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--fc-white);
}
nav .links a:hover {
	color: var(--background-color-section);
}

nav .links .nav-link {
	padding-top: 9px;
}
nav :checked ~ .links {
	bottom: 0;
}

#nav-toggle {
	z-index: 1000;
	position: absolute;
	top: -100%;
}
nav .icon-burger {
	display: block;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
nav .icon-burger .line {
	width: 23px;
	height: 3px;
	background-color: var(--fc-primary);
	margin: 5px;
	border-radius: 3px;
	transition: all 0.5s ease-in-out;
}
nav :checked ~ .icon-burger .line:nth-child(1) {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
}
nav :checked ~ .icon-burger .line:nth-child(3) {
	transform: translateY(-8px) rotate(45deg);
	background-color: #fff;
}
nav :checked ~ .icon-burger .line:nth-child(2) {
	opacity: 0;
}

li.media-icons {
	display: flex;
	justify-content: center;
	padding-top: 9px;
}

li.media-icons a {
	margin-top: 2.3rem;
	font-size: 1.5rem;
	margin-left: 0.2rem;
}
li.media-icons a:nth-child(1) {
	margin-left: 2.5rem;
}

.navbar .media-icons a:hover {
	color: var(--regular-menu);
}

/* Nav Media Queries */
@media screen and (min-width: 992px) {
	nav {
		display: flex;
		justify-content: flex-end;
		z-index: 10;
		background: var(--background-nav);
	}

	nav .links {
		position: static;
		z-index: 5;
		left: unset;
		padding: 0;
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background: transparent;
	}

	nav .links a {
		font-size: 1.4rem;
		color: var(--fc-primary);
	}
	nav .links a:hover {
		color: var(--fc-hover-secondary);
	}
	nav .links .link-number {
		display: none;
	}
	nav .icon-burger {
		display: none;
	}

	li.media-icons a {
		margin-top: 0;
		margin-left: 0.5rem;
		margin-bottom: 0.6rem;
	}
	li.media-icons a:nth-child(1) {
		margin-left: 2.5rem;
	}
}

@media (max-height: 380px) {
	nav .media-icons a {
		font-size: 2rem;
		margin-top: 0;
	}
}
@media (max-height: 354px) and (max-width: 991px) {
	nav .links {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
	nav .links .nav-link {
		padding-top: 0;
	}
	nav .links a {
		font-size: 1.5rem;
		margin: 0;
	}
	li.media-icons {
		padding-top: 0;
	}
	li.media-icons a {
		margin-left: 1rem;
	}
	li.media-icons a:nth-child(1) {
		margin-left: 0;
	}
}

@media (max-height: 354px) and (max-width: 588px) {
	nav .links {
		justify-content: center;
	}

	nav .links a {
		font-size: 0.8rem;
		margin: 5px;
	}

	li.media-icons a {
		margin-left: 0.8rem;
		margin: 5px;
	}
}
/* End of Nav Media Queries */

/*********** 
Hero
************/
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.home .home-content {
	margin: auto;
	margin-top: 8rem;
	padding-top: 4.375rem;
	padding-bottom: 5.9375rem;
}
.home h1 {
	font-weight: 700;
}

.home h2 {
	font-weight: 600;
	letter-spacing: -0.15rem;
	text-transform: uppercase;

	color: var(--fc-secondary);
}

h2.job-title {
	margin-top: 1rem;
}

.home .home-buttons {
	display: flex;
	justify-content: center;
}
.home .button {
	margin: 3rem 1rem;
}

/*********** 
About
************/
.about {
	display: flex;
	flex-direction: column;
	background: var(--background-color-section);
}

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 4rem;
}

.about .about-details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.about-details .right {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
	overflow: hidden;
}
.about-details .topic {
	display: flex;
	margin-bottom: 1.5rem;
}
.about-details .right h3 {
	text-transform: capitalize;
	font-weight: 300;
}
.about-details .right p {
	color: var(--fc-secondary);
	/* margin-bottom: 1.5rem; */
}
.about-details span {
	font-size: 0.9rem;
	font-weight: 500;
	background: #bec2ba;
}
.about-details a {
	text-decoration: underline;
}
.about-details .about-paragraph {
	display: flex;
	flex-direction: column;
}

.about .left img {
	width: auto;
	height: 100%;
	object-fit: contain;
}

.tech-line {
	margin: 2rem 0 1rem;
	display: block;
	width: 8rem;
	height: 1px;
	background-color: var(--fc-secondary);
}

.about h4 {
	color: var(--fc-secondary);
	margin-bottom: 1rem;
}

.skills-details {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

i.tech-icon {
	font-size: 1.5rem;
	color: var(--fc-primary);
	padding: 0 0.75rem;
}
i.tech-icon:first-child {
	padding-left: 0;
}

.about .button {
	margin: 0 auto;
	margin-top: 3rem;
}

/*********** 
Projects
************/
.projects .title {
	margin: 2rem 0 2rem;
}
.projects h2 {
	text-transform: capitalize;
	font-weight: 700;
	display: flex;
	padding: 1rem;
}

.projects .boxes {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	flex-wrap: wrap;
}

.projects .boxes .box {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 49.3%;
	cursor: default;
	transition: all 0.4s ease;
}
.projects .boxes .box-1,
.projects .boxes .box-3 {
	margin-right: 0.5rem;
}
.projects .boxes .box-3,
.projects .boxes .box-4 {
	margin-top: 3rem;
}

.projects .top-half {
	display: flex;
	flex-direction: column;
}

.box .image-container {
	margin: 0;
	border-bottom: none;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease;
}

.box img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: contain;
}

.project-links-container {
	display: flex;
	justify-content: start;
	margin-top: 1rem;
}

.project-links-container a,
.project-links-container span {
	font-size: 1rem;
	padding: 0.3rem 1rem;
	width: 5rem;
	text-align: center;
	border: 1px solid var(--button-border);
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.2s ease;
}
.project-links-container a {
	margin-right: 0.5rem;
}

.project-links-container .description:hover,
.project-links-container a:hover {
	transform: scale(1.1);
}

.project-description-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.project-title {
	font-size: 1.6rem;
	margin: 2rem 0;
	margin-bottom: 0.75rem;
}
.project-description {
	font-size: 1rem;
	color: var(--fc-secondary);
	line-height: 1.4;
	font-weight: 300;
	overflow: hidden;
}

.tools-container {
	display: flex;
	align-items: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
i.tool-icon {
	font-size: 1.2rem;
	padding-right: 2rem;
	color: var(--fc-secondary);
}

/*********** 
Contact 
************/
.contact {
	background: var(--background-color-section);
}

.contact .content {
	display: flex;
	flex-direction: column;
	max-width: 45rem;
}

.contact h3 {
	font-size: 2.25rem;
	text-transform: none;
	font-weight: 300;
	line-height: 1.8;
	margin: 0 0 4rem;
	text-align: center;
}

.contact .form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact .contact-title,
.contact form {
	display: flex;
	flex-direction: column;
}
.contact input,
.contact textarea {
	border: 1px solid var(--button-border);
}

.contact label {
	font-size: 1rem;
	font-weight: 400;
}
.contact .email-container label {
	font-size: 0.99rem;
	font-weight: 400;
}
.contact .message-container label {
	font-size: 0.999rem;
	font-weight: 400;
}

.contact .email-container,
.contact .message-container {
	margin-top: 1.5rem;
}

.contact .name-container {
	display: flex;
	justify-content: space-between;
}
.contact .name-container .first-name-container,
.contact .name-container .last-name-container {
	width: 49%;
}
.contact .name-container .input-box {
	width: 100%;
	height: 2.2rem;
}

.contact .email-container .input-box {
	width: 100%;
	height: 2.2rem;
}

.contact .message-container .input-box {
	width: 100%;
	height: 10rem;
}

.contact button {
	margin-top: 2rem;
}

/*********** 
Footer 
************/
footer {
	display: flex;
	justify-content: center;
	height: 6rem;
	margin: 0 auto;
	background: var(--background-color-section);
}

footer .text {
	display: flex;
	align-items: flex-start;
	margin-right: 1rem;
}
footer .text span {
	font-size: 1.3rem;
	font-weight: 400;
	padding-right: 0.65rem;
	color: var(--fc-primary);
}
footer .media-icons {
	display: flex;
	align-items: flex-start;
}
footer .media-icons a {
	font-size: 1.3rem;
	padding-right: 0.65rem;
	color: var(--fc-primary);
}
footer .media-icons a:hover {
	color: rgb(219, 219, 219);
}

/******************* 
Media Queries
*******************/

@media (max-width: 992px) {
	.about .about-details {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about-details .right {
		padding-left: 0;
	}
	.about .left img {
		width: 18rem;
		height: auto;
		object-fit: contain;
	}
	.about-details .topic {
		margin-bottom: 0;
	}
	.about-details h3 {
		margin: 2rem 0 1rem;
	}

	.tech-line {
		margin: 2rem auto 1rem;
	}

	.about h4 {
		margin-bottom: 1rem;
	}

	.skills-details {
		display: flex;
		justify-content: center;
		padding: 1rem 0;
	}

	.projects .title {
		margin: 0 0 1rem 0;
	}
	.projects h2 {
		padding: 1rem 0;
	}
	.projects .boxes {
		padding: 0;
	}
	.projects .boxes .box {
		width: 47%;
	}
	.projects .boxes .box-1,
	.projects .boxes .box-3 {
		margin-right: 2rem;
	}

	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2.7rem;
	}
	p {
		font-size: 1rem;
	}
}

@media (max-width: 768px) {
	section .section-container {
		padding: 4rem 0;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.5rem;
	}

	.projects .boxes {
		padding: 0;
		flex-wrap: wrap;
	}
	.projects .boxes .box {
		width: 100%;
	}
	.projects .boxes .box-1 {
		margin: 0;
		margin-top: 0;
	}
	.projects .boxes .box-2,
	.projects .boxes .box-3,
	.projects .boxes .box-4 {
		margin-top: 3rem;
	}
	.projects h2 {
		padding-left: 0;
	}
}

@media (max-width: 576px) {
	section .button button {
		width: 10rem;
		padding: 0.7rem 1rem;
		font-size: 1rem;
	}
}

@media (max-width: 475px) {
	.about-details .right p {
		font-size: 1rem;
	}
	.about-details span {
		font-size: 0.875rem;
		font-weight: 500;
		background: #bec2ba;
	}

	.contact h3 {
		margin-top: 0;
		margin-bottom: 2rem;
	}
	.contact .name-container {
		flex-direction: column;
	}

	.contact .last-name-container,
	.contact .email-container,
	.contact .message-container {
		margin-top: 1rem;
	}

	.contact .name-container .first-name-container,
	.contact .name-container .last-name-container {
		width: 100%;
	}

	footer .text span,
	footer .media-icons a {
		font-size: 1rem;
	}
}

@media (max-width: 414px) {
	.contact h3 {
		font-size: 1.6rem;
	}
	.contact label {
		font-size: 0.85rem;
	}
	.contact .email-container label,
	.contact .message-container label {
		font-size: 0.85rem;
	}
}

@media (max-width: 370px) {
	.about i.tech-icon {
		font-size: 1.2rem;
		color: var(--fc-primary);
		padding: 0 0.5rem;
	}
	i.tech-icon:first-child {
		padding-left: 0;
	}
}

@media (max-width: 280px) {
	section .button button {
		width: 9rem;
		padding: 0.3rem 1rem;
		font-size: 1rem;
	}

	.about i.tech-icon {
		font-size: 1.2rem;
		color: var(--fc-primary);
		padding: 0 0.5rem;
	}
	i.tech-icon:first-child {
		padding-left: 0;
	}

	.project-links-container a,
	.project-links-container span {
		font-size: 0.7rem;
		padding: 0.3rem 1rem;
		width: 50%;
		text-align: center;
	}

	footer .text span,
	footer .media-icons a {
		font-size: 0.75rem;
	}

	h1 {
		font-size: 2.65rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	p {
		font-size: 1rem;
	}
	.contact h3 {
		font-size: 1.3rem;
	}
}
